
#container{
    width: 95%;
    margin-left: 2.5%;
    padding: 10px;

}

img{
    width: 50px;
    height: auto;
    position: relative;
    top: calc((100% - 50px) /2);
}

@media only screen and (min-width: 601px) {
    img{
        width: 70px;
        top: calc((100% - 70px) /2);
    }
}

.ShortInfo {
    display: flex;
    font-size: small;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}

.team {
    width: 33.33%;
}

/* Provisorisch für die Probe-Ansicht in HTML */
.team1 {
    width: 33.33%;
}

.team2 {
    width: 33.33%;
}

/* ------------------------------------ */

.result {
    width: 33.33%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    
}

.result button {
    border: 1px solid grey;
    border-radius: 7px;
    background-color: transparent;
    height: 30px;
    margin: 3px;
}

.ResultAndLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 33.33%;
    
}

.ResultAndLocation>article
{
    max-width: 100%;
    text-overflow: ellipsis;
}




.GameContainer{
    min-height: 50px;
    box-shadow: 7px 7px 7px rgb(185, 185, 185);

    margin-bottom: 25px;

}

.GameContainer .ShortInfo {
    pointer-events: none;
}

.gameDetails {
    display: none;
}

.NameOfTeam{
    margin: 0px;
    padding-top: 15px;

}

.detailedInfos > article h5{
    text-decoration: underline;
    font-weight: bolder;
    
}

.LocationAndTimeInfos{
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;

}

.LocationAndTimeInfos *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailedInfos .mySlides ~ .mySlides{
    display: none;
}

.Player-Informations{
    border-collapse: collapse;
}
.Player-Informations > article{
    width: 70%;
    max-height: 50px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Player-Informations > article *
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px 5px 0px;
}

.Player-Informations > article img {
    height: 45px;
    width: auto;
    border-radius: 15px;
    margin-right: 10px;

}

.gameDetails hr {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}



a{
    pointer-events: all;
}