img{
    width: 50px;
    height: auto;
    position: relative;
    top: calc((100% - 50px) /2);
}

@media only screen and (min-width: 601px) {
    img{
        width: 70px;
        top: calc((100% - 70px) /2);
    }
}

.ShortInfo {
    display: flex;
    font-size: small;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}

.team1 {
    width: 33.33%;
}

.result {
    width: 33.33%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    
}

.result button {
    border: 1px solid grey;
    border-radius: 7px;
    background-color: transparent;
    height: 30px;
    margin: 3px;
}

.ResultAndLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 33.33%;
    
}

.ResultAndLocation>article
{
    max-width: 100%;
    text-overflow: ellipsis;
}

.team2 {
    width: 33.33%;
}

#container{
    width: 90%;
    margin-left: 5%;
    padding: 10px;

}


.GameContainer{
    min-height: 50px;
    box-shadow: 7px 7px 7px rgb(185, 185, 185);

    margin-bottom: 25px;

}

.gameDetails {
    /* display: none; */
}

.NameOfTeam{
    margin: 0px;
    padding-top: 15px;

}

.detailedInfos > article h5{
    text-decoration: underline;
    font-weight: bolder;
    
}

.Player-Informations > article{
    width: 80%;
    max-height: 50px;
    margin: auto;
}

.Player-Informations > article *
{
    padding: 5px 0px 5px 0px;
}

.Player-Informations > article img {
    height: 45px;
    width: auto;
    border-radius: 15px;
    margin-right: 10px;

}

.gameDetails hr {
    width: 80%;
}