html {
    font-size: 15px;
}


.navbar {
    position:fixed;
    margin:0;
    top:0;
    background-color: #004b9c;
    width:100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Standard Navbar (für große Bildschirme) */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Burger-Button (Standard ausgeblendet) */
.burger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    height: 42.5px;
}

/* Dropdown-Menü für Mobile */
.dropdown {
    position:fixed;
  
    background-color: #004b9c;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Verstecktes Dropdown-Menü */
.hidden {
    display: none;
}

#dropdownMenu{
    position:fixed;
    z-index: 99;
    width: 100%;
    top:50px;

}



#container {
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    background-color: #004990;
    padding: 20px;
    width: 100%;
    margin-top: 70px;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

#box1 {
    background-image: url('./Bilder/Historie.jpg');
}

#box2 {
    background-image: url('./Bilder/Tradition.jpeg');
}

#box3 {
    background-image: url('./Bilder/Karriere.jpg');
}

#box4 {
    background-image: url('./Bilder/Nachhaltigkeit.jpg');
}

.box {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-size: 1rem;
    transition: box-shadow 0.3s ease, height 0.3s ease-in-out;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box-container h2 {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    margin: 0;
    padding: 16px;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    opacity: 0;
}

.box:hover::before {
    background: rgba(0, 0, 0, 0.9);
}

.box:hover {
    height: auto;
}

.box:hover .content {
    opacity: 1;
}

.banner {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#banner1 {
    background-image: url('./Bilder/Banner.jpg');
}

#banner2 {
    background-image: url('./Bilder/Banner.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_container {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 20px;
    padding: 10%;
    z-index: 1;
}

.inner_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.prev,
.next {
    position: absolute;
    top: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.Meisterschale {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./Bilder/Meisterschale.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.DFB-Pokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./Bilder/DFB-Pokal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.DFL-Ligapokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./Bilder/DFL-Ligapokal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.UEFA-Pokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./Bilder/UEFA-Pokal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.DFL-Supercup {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./Bilder/DFL-Supercup.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.Meisterschale:hover,
.DFB-Pokal:hover,
.DFL-Ligapokal:hover,
.UEFA-Pokal:hover,
.DFL-Supercup:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.trophy_picture {
    width: 100%;
    height: 100%;
}

.text_container {
    overflow: hidden;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -20;
}

.stadion {
    width: 100%;
    height: 500px;
    max-height: 500px;
    display: flex;
    gap: 10px;
}

.stadion_picture {
    width: 50%;
    height: 100%;
    background-image: url('./Bilder/Stadion.jpeg');
    background-size: cover;
    background-position: center;
}

.API_information {
    width: 50%;  
    font-size: 1rem;
    color: white;
    background-color: #004da8;
    padding: 16px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }

    .video-container {
        width: 70%;
        padding-top: 39.375%;
        position: relative;
        left: 15%;
    }

    .box-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .box {
        min-height: 200px;
    }

    .slider_container {
        height: 100vh;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .banner h2 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {

    .text_container h2 {
        font-size: 0.9rem;
    }

    .text_container p {
        font-size: 0.6rem;
    }

    .content {
        font-size: 0.6rem;
    }

    .API_information {
        font-size: 0.6rem;
    }

    .API_information h2 {
        font-size: 0.9rem;
    }

    .stadion {
        height: auto;
    }

    .stadion_picture {
        height: auto;
    }

    .box h2 {
        font-size: 0.9rem;
    }

    .banner h2 {
        font-size: 0.9rem;
    }

    .prev,
    .next {
        top: auto;
        bottom: 10px;
        transform: none;
        font-size: 12px;
    }

    body h1 {
        font-size: 1.3rem;
    }

    footer {
        font-size: 0.6rem;
    }
}

/* Mobile-Ansicht */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Standard-Navbar ausblenden */
    }

    .burger-menu {
        display: block; /* Burger-Icon einblenden */
    }
}