html {
    font-size: 16px;
}

#container {
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    background-color: #004990;
    padding: 20px;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

#box1 {
    background-image: url('https://storage.schalke04.de/2017/10/Schalke04_49446_Mannschaftsfoto-1440x810.jpg');
}

#box2 {
    background-image: url('https://la-melle.de/cdn/shop/files/fotorollo-schalke04-fan-support-raum-1.webp?v=1696249668');
}

#box3 {
    background-image: url('https://storage.schalke04.de/sites/1/2024/03/wa_berufseinsteiger-1440x810.jpg');
}

#box4 {
    background-image: url('https://storage.schalke04.de/sites/1/2024/05/umwelt-motiv-text-s04-rgb-1440x810.jpg');
}

.box {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, height 0.3s ease-in-out;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box-container h2 {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    margin: 0;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    opacity: 0;
}

.box:hover::before {
    background: rgba(0, 0, 0, 0.9);
}

.box:hover {
    height: auto;
}

.box:hover .content {
    opacity: 1;
}

.banner {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

#banner1 {
    background-image: url('https://pbs.twimg.com/media/FQOLMqiWYAUlKK_.jpg:large');
}

#banner2 {
    background-image: url('https://pbs.twimg.com/media/FQOLMqiWYAUlKK_.jpg:large');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_container {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 20px;
    padding: 10%;
    z-index: 1;
}

.inner_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #333;
    border: 2px solid #ddd;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 6px;
    z-index: 3;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Hover-Effekte */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.prev:focus,
.next:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}


.Meisterschale {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('imgbin_fc-bayern-munich-dfb-pokal-1966-67-bundesliga-meisterschale-football-png.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.DFB-Pokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('dfb-pokal-trophaee.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.DFL-Ligapokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('13ecrl1650460604.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.UEFA-Pokal {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('5842fe18a6515b1e0ad75b3d.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.DFL-Supercup {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('312.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.trophy_picture {
    width: 100%;
    height: 100%;
}

.text_container {
    overflow: hidden;
}

@media (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    .video-container {
        width: 70%;
        padding-top: 39.375%;
        position: relative;
        left: 15%;
    }

    .box-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .box {
        min-height: 200px;
    }

    .slider_container {
        height: 100vh;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}

@media (max-width: 599px) {

    .text_container h2 {
        font-size: 0.9rem;
    }

    .text_container p {
        font-size: 0.6rem;
    }

    .content {
        font-size: 0.6rem;
    }

    .box h2 {
        font-size: 0.9rem;
    }

    .prev,
    .next {
        top: auto;
        bottom: 10px;
        transform: none;
        font-size: 12px;
    }
}